configuration {
    modi: "calc";
    show-icons: false;
    cycle: true;
    font: "JetBrainsMono Nerd Font 11";
}

@theme "base.rasi"

window { width: 360px; }
mainbox { children: [ "inputbar", "listview" ]; }
inputbar { padding: 8px 12px; }
entry { placeholder: "2 + 2"; }
listview { lines: 5; fixed-height: false; }
