* {
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", sans-serif;
    font-size: 18px;
}

window {
    background-color: rgba(19, 19, 23, 0.55);
}

button {
    margin: 10px;
    padding: 20px 28px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #e4e1e8;
    background-color: rgba(31, 31, 36, 0.7);
}

button:hover {
    border-color: #1e2668;
    background-color: #1e2668;
    color: rgba(19, 19, 23, 1);
}
